.tab {
  border: 2px solid white;
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 0.2vw;
  font-family: Eurostile;
  line-height: 60px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: ease-in 0.25s;
  margin-inline: 5px;
  display: inline-block;
}

.tab span {
  white-space: nowrap;
}

.tab:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.selected {
  background-color: white;
  color: black;
  border: 2px solid black;
}

header {
  text-align: center;
  margin-top: 10px;
}
