@font-face {
  font-family: "Sevastopol";
  src: local("Sevastopol"),
    url(./fonts/Sevastopol-Interface.ttf) format("truetype");
}

@font-face {
  font-family: "Eurostile";
  src: local("Eurostile"), url(./fonts/Eurostile.otf) format("opentype");
}

@font-face {
  font-family: "VT323";
  src: local("VT323"), url(./fonts/VT323-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "5by7";
  src: local("5by7"), url(./fonts/5by7regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Consolas";
  color: white;
  font-size: calc(1em + 1vw);
  margin-inline: 20px;
}

h1 {
  font-family: "Eurostile";
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: min(5rem, 6vw);
}

.dice h2 {
  font-family: "Sevastopol";
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 70px;
  color: white;
}

p,
label,
h2 {
  font-size: min(3.5rem, 6vw);
  font-family: "VT323";
  color: #33ff00;
  background: repeating-linear-gradient(
    to bottom,
    #33ff00 0,
    #33ff00 1px,
    rgba(0, 0, 0, 0.071) 2px,
    rgba(0, 0, 0, 0.071) 3px,
    #33ff00 3px,
    #33ff00 4px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 6px #00ff338d);
}

@media only screen and (min-width: 1024px) {
  body {
    margin-inline: calc((100vw - 1024px) / 2);
  }
}

#dice-box,
#dice-box canvas {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.dice .icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  filter: invert(67%) sepia(14%) saturate(3993%) hue-rotate(61deg)
    brightness(107%) contrast(124%);
  z-index: -1;
  -webkit-mask-image: repeating-linear-gradient(
    to bottom,
    #33ff00 0,
    #33ff00 1px,
    rgba(0, 0, 0, 0.071) 2px,
    rgba(0, 0, 0, 0.071) 3px,
    #33ff00 3px,
    #33ff00 4px
  );
  mask-image: repeating-linear-gradient(
    to bottom,
    #33ff00 0,
    #33ff00 1px,
    rgba(0, 0, 0, 0.071) 2px,
    rgba(0, 0, 0, 0.071) 3px,
    #33ff00 3px,
    #33ff00 4px
  );
}

.dice h1 .icon {
  filter: invert(67%) sepia(14%) saturate(3993%) hue-rotate(61deg)
    brightness(107%) contrast(124%) drop-shadow(0px 0px 10px #00ff3388);
}

input[type="number"] {
  color: #ffb000;
  background: transparent;
  font-family: Sevastopol;
  font-size: min(5rem, 7vw);
  margin-left: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
  width: 100px;
  text-shadow: 0 0 5px#ffb0006f;
  background: repeating-linear-gradient(
    to bottom,
    #ffb000 0,
    #ffb000 1px,
    rgba(0, 0, 0, 0.071) 2px,
    rgba(0, 0, 0, 0.071) 3px,
    #ffb000 3px,
    #ffb000 4px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input:focus {
  background-color: rgb(83, 83, 83);
  outline: none !important;
}

.Tbutton {
  border: 5px solid #ffb000;
  border-radius: 10px;
  padding-top: 15px;
  padding-inline: 10px;
  justify-content: center;
  font-size: 5rem;
  font-family: "5by7";
  color: #ffb000;
  text-shadow: 0 0 10px#ffb0006f;
  -webkit-mask-image: repeating-linear-gradient(
    to bottom,
    #ffb000 0,
    #ffb000 1px,
    rgba(0, 0, 0, 0.071) 2px,
    rgba(0, 0, 0, 0.071) 3px,
    #ffb000 3px,
    #ffb000 4px
  );
  mask-image: repeating-linear-gradient(
    to bottom,
    #ffb000 0,
    #ffb000 1px,
    rgba(0, 0, 0, 0.071) 2px,
    rgba(0, 0, 0, 0.071) 3px,
    #ffb000 3px,
    #ffb000 4px
  );
  transition: 0.1s ease-in;
}

.Tbutton:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 4px #ffb0006f);
}

.col-8,
.col:not(.rowHolder) {
  border: 3px double #33ff008f;
  margin: 2px;
  border-radius: 5px;
}

input[type="text"],
textarea {
  line-height: 1;
  color: #ffb000;
  background: transparent;
  font-family: VT323;
  font-size: min(2.5rem, 7vw);
  border: none;
  text-shadow: 0 0 5px#ffb0006f;
  background: repeating-linear-gradient(
    to bottom,
    #ffb000 0,
    #ffb000 1px,
    rgba(0, 0, 0, 0.071) 2px,
    rgba(0, 0, 0, 0.071) 3px,
    #ffb000 3px,
    #ffb000 4px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
